################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenBank/FileContentIndex/e66beedb-f0f3-4321-8472-bdd93fa1ca20.vsidx
