@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Bem vindo ao OpenBank</h1>
        <p>Clique aqui para se registrar <a href="/ClienteControl/">Cadastro de clientes</a>.</p>
    </div>
